package views

templ Index(title, message string) {
    <html>
        <head>
            <title>Test</title>
        </head>
        <body>
            @Header(title)

            @Message(message)
        </body>
    </html>
}
